*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: inherit;
}
html {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    
    -webkit-font-smoothing: antialiased;
    background-color: #f2f2f2;
    min-height: 100vh;
}
* {
    line-height: 1.5em;
}
h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 0.6em;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1em;
}
em, i {
    font-style: italic;
}

strong, b {
    font-weight: 500;
}

ul{
    list-style-position: inside;
}

hr{
    margin: 36px 0px;
    border-color: rgba(25, 60, 77, 0.1);
}

span.code{
    background-color: rgba(0,0,0,0.08);
    padding: 2px 6px;   
    border-radius: 5px;
}

.header{
    position: relative;
    padding: 24px 12px;
    background-color: #193c4d;
    color: #eff6fa;

}
.header::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 100px;

    background-color: #193c4d;
    z-index: -1;
    clip-path: ellipse(100% 100% at 50% 0%);
}
.header > * {
    margin: 0;
    max-width: 1100px;
    margin: 0 auto;
    padding-right: 80px;
}

.main{
    padding: 12px;
}

.content{
    margin: 0 auto;
    max-width: 1100px;
    background-color: white;
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    padding: 12px;
    border-radius: 2px;
}

.image-customizer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#imageSrc {
    display: inline-block;
    margin-right: 24px;
    width: 100%;

    max-width: 500px;
}

#imageText{
    padding: 0px 4px;
}

#imageSrcVal{
    padding: 6px;
    width: 100%;
    resize: none;
}

.credits{
    display: flex;
    justify-content: space-between;
}

@media (min-width: 800px){
    html{
        font-size: 18px;
    }
    .header{
        padding: 24px;
    }
    .main{
        padding: 24px;
    }
    .content{
        padding: 36px;
    }
}